<html>

    <body style="background-image: url('/images/track.jpg'); height: 100%;width: 100%;background-size: 100% 100%;
    ">
        <div  >
<center>
    <table cellspacing='0' width='50' border="1" style="text-align: center;">
        <tr>
            
            <td colspan="2">
                <img src='/images/indianRailways.png' width=40%>
            </td>
       
            <td colspan="4"><b>Welcome to indian indianRailways</b>
            </td>
        </tr>
        <h3>Ticket</h3>

        <tr>
            <b>
                <%=cityfrom %> to <%=cityto %><b>
        </tr>
        <tr>
            <th>Passenges Name</th>
            <!-- <th>Train Name</th> -->
            <!-- <th>City from</th> -->
            <th>Age</th>
            <th>Sex</th>
            <th>Birth type</th>
            <!-- <th>City to</th> -->

            <th rowspan="4">Total distance</th>

            <th rowspan="4">Amount</th>
        </tr>

        <tr>
            <td>
                <%=CName %>
            </td>
            <td>
                <%=Ages %>
            </td>
            <td>
                <%=Sexs %>
            </td>
            <td>
                <%=birthType1 %>
            </td>






        </tr>

        <tr>
            <td>
                <%=hName %>
            </td>
            <td>
                <%=Ages1 %>
            </td>
            <td>
                <%=Sexs1 %>
            </td>
            <td>
                <%=birthType2 %>
            </td>


        </tr>


        <tr>
            <td>
                <%=iName %>
            </td>
            <td>
                <%=Ages2 %>
            </td>
            <td>
                <%=Sexs2 %>
            </td>
            <td>
                <%=birthType3 %>
            </td>


        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>
                <%=distance %> KM
            </td>
            <td>₹<%=Amount %>
            </td>
        <tr><br><br>



    </table><br><br>


        <!-- <h2>The window.print() Method</h2> -->
        
        <!-- <p>Click the button to print the current page.</p> -->
        
        <button onclick="window.print()">Print</button>

        
      


</center>
</div>
  </body>
</html>